*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);

    .main{
        width: 80%;
        min-height: 100vh;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .contador__box{
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100%;
            background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
            color: #fff;
            padding: 20px 20px;
            
            label{
                font-size: 25px;
                padding: 10px;
            }

            .cont__painel{
                padding: 20px;
                cursor: pointer; 
                letter-spacing: 1px;
                
            }
        }

        .btn__sortea{
            width: 100%;
            margin: 25px auto;
            padding: 10px 20px;
            background-image: linear-gradient(60deg, #2a6bb6 0%, #485563 100%);
            color: #fff;
            border: none;
        }
    }
}